//colors

body {
  background: $purple;
  color: white;
}

a {
  &.button {
    &__link {
      color: white;
      text-decoration: none;
      &--menu {
        border-color: $menu-aqua;
        color: $menu-aqua;
        border: 1px solid $menu-aqua;
        &:hover {
          color: $menu-aqua;
        }
      }
      .icon {
        background: #5c5a6f;
      }
      &--twitter {
        background: $link-aqua;
        .icon {
          background: $icon-aqua;
        }
      }
      &--facebook {
         background: $link-blue;
        .icon {
          background: $icon-blue;
        }
       }
      &--mail {
        background: $purple-light;
      }
    }
    &:hover {
      text-decoration: none;
    }

  }

}