//grid

.container {
  &--respo {
    width: 100%;
    padding: 0 5%;
  }
}

header {
  padding: 50px 0 0 0;
}

main {
  padding: 50px 0;
}

a {
  display: block;
  text-align: center;
  &.logo {
    img {
      max-width: 50%;
      max-height: 50%;
    }
  }
  &.button {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    margin: 0 0 10px 0;
    position: relative;
    &__link {
      .icon {
        display: block;
        width: 45px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        img {
          max-width: 40%;
          max-height: 40%;
        }
      }
      &--menu {
        .icon--menu {
          img {
            max-width: 40%;
            max-height: 40%;
            vertical-align: middle;
            margin: -5px 5px 0 0;
          }
        }
      }
    }
  }
}

p {
  text-align: center;
  padding: 15px 0 25px 0;
}