//variables

//sizes
$normal:            14px;

//colors
$purple: #2a2442;
$purple-light: #34304b;
$menu-aqua: #32c9c0;
$link-aqua: #33ccff;
$icon-aqua: #5cd6ff;
$link-blue: #3a589e;
$icon-blue: #5771ac;