p, a {
  font-size: 14px; }

body {
  background: #2a2442;
  color: white; }

a.button__link {
  color: white;
  text-decoration: none; }
  a.button__link--menu {
    border-color: #32c9c0;
    color: #32c9c0;
    border: 1px solid #32c9c0; }
    a.button__link--menu:hover {
      color: #32c9c0; }
  a.button__link .icon {
    background: #5c5a6f; }
  a.button__link--twitter {
    background: #33ccff; }
    a.button__link--twitter .icon {
      background: #5cd6ff; }
  a.button__link--facebook {
    background: #3a589e; }
    a.button__link--facebook .icon {
      background: #5771ac; }
  a.button__link--mail {
    background: #34304b; }
a.button:hover {
  text-decoration: none; }

.container--respo {
  width: 100%;
  padding: 0 5%; }

header {
  padding: 50px 0 0 0; }

main {
  padding: 50px 0; }

a {
  display: block;
  text-align: center; }
  a.logo img {
    max-width: 50%;
    max-height: 50%; }
  a.button {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    margin: 0 0 10px 0;
    position: relative; }
    a.button__link .icon {
      display: block;
      width: 45px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
      a.button__link .icon img {
        max-width: 40%;
        max-height: 40%; }
    a.button__link--menu .icon--menu img {
      max-width: 40%;
      max-height: 40%;
      vertical-align: middle;
      margin: -5px 5px 0 0; }

p {
  text-align: center;
  padding: 15px 0 25px 0; }
